body {
    font-family: Arial, sans-serif;
    background: peachpuff;
    margin: 0;
    padding: 0;
}

header { 
    
    background-color: #934caf;
    color: white;
    text-align: center;
    padding: 20px;
}

.instructions {
    text-align: center;
    margin-bottom: 20px;
}

#instructionsText {
    margin-top: 10px;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

.play-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.level-1 {
    background-color: #ffc107;
    color: black;
}

.level-2 {
    background-color: #28a745;
    color: white;
}

.level-3 {
    background-color: #dc3545;
    color: white;
}